<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{!-- navbar --}}
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- main header left -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/boyimg.png" alt="pk" class="img-fluid" />
                        </figure>
                    </div>
                    <!-- main header right -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>About Us</p>
                        <h1>I am a <span class="text_color">MERN Stack Developer</span> </h1>
                        <a href="https://www.linkedin.com/in/prakash-singh-0aa86725a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"> <button > Linkedin </button></a>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</body>
{{>footer}}
</html>